@media screen and (max-width: 620px){
  body{
    width: 100%;
    overflow-x: hidden;
  }
  nav .nav-links,
  nav .nav-btns{
  display: none;
}
nav .menu,
nav .menu span{
  color: #000;
  display: block;
  font-size: 30px;
  font-weight: 700;
}
nav .logo{
  display: block;
  font-size: 20px;
}
section{
  width:100%;
  padding: 1.5rem;
}
section.function, 
 section.choose,
 section.services{
  width: 100%;
  display: flex;
  flex-direction: column;
  
  
}
section.welcome h1{
  font-size:2.5rem;
}
section.welcome p{
  font-size: 1.9rem;
}
section.welcome .dwnBtns button{
  font-size: 14px;
  font-weight: 500;
  padding: 0 20px;
  height: 45px;
}
section.welcome .dwnBtns button span{
   margin: 0 8px;
   font-size: 16px;
 }
 section.welcome .docsImg .docImgs{
   display: flex;
   flex-wrap: nowrap;
   flex-shrink: 0;
   flex-direction: column;
   gap: 20px;
   width: 100%;
 }
 section.welcome .docImgs .singleImg img{
   height : 400px;
   width: 100%;
 }
 section.welcome .docImgs .grp {
   flex-direction: column;
 }
 section.welcome .docImgs .grp img{
   height: 190px;
   width: 100%;
 }
 section.welcome .groupImgs img{
   left:20vw;
 }
/* section.welcome .organizations .organizationList .organization{
   font-size: 1rem;
 }
 section.function h2,
section.choose h2,
section.services h2{
   font-size: 2.5rem;
 }
 section.function p,
 section.choose p,
 section.services p{
   font-size: 1.5rem;
 }*/
 .cards{
   padding: 0;
 }
  .cards .card .detail{
   font-size: 25px;
 }
 .cards .card{
   min-width: 100%;
   width: 100%;
   padding: 20px;
   height: auto;
 }
  .cards .card .detail{
   gap: 15px;
 }
 .cards .card .detail span{
   font-size: 25px;
 }
 .cards .card :where(.detail span, .detail p){
font-size: 22px;
 }
 .cards .card .content p{
   font-size: 16px;
 }
 section.choose .cards .card .detail span{
  background: var(--main1-bg);
  padding: 10px 15px;
  border-radius: 50%;
}
}